@font-face {
  font-family: "Source Sans Pro";
  src: url(assets/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(assets/SourceSansPro-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(assets/SourceSansPro-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(assets/SourceSansPro-Regular.ttf);
  font-weight: normal;
}


@font-face {
  font-family: "Source Sans Pro";
  src: url(assets/SourceSansPro-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(assets/SourceSansPro-SemiboldItalic.ttf);
  font-style: italic;
  font-weight: 600;
}
