%container {
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
}

%font {
	font-family: "Source Sans Pro", sans-serif;
}

@mixin breakpoint($point) {
	@if $point == tablet {
		@media (max-width: 800px) {
			@content;
		}
	}
}