noscript {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background: #B33A3A;
	padding: 10px 0;
	color: #FFF;
}

header {
	position: relative;
  @include container;
  margin-top: 5%;

  .profile-pic {
    float: left;
    margin-left: -80px;
    background: url(assets/profile.png);
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 100%;
    display: block;
  }

  .text {
    float: left;

    h2 {
      font-size: 22px;
      font-weight: 400;
      margin-top: 10px;
    }

    h4 {
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;
      color: $light-gray;
      margin-top: 10px;

      a {
        color: #0f0f0f;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .menu-header-container {
    
    ul {
      padding: 0;
      
      li {
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        
        &:last-child {
          margin-right: 0;
        }
        
        a {
          color: #4e4e4e;
          
          &:hover {
            color: $dark-gray;
          }
        }
      }
    }
  }
}