.warning-noscript {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: $red;
	padding: 10px;
	font-size: 14px;
	line-height: 24px;
	color: white;
	text-align: center;
}

header {
	@extend %container;
	margin-top: 5%;

	@include breakpoint(apple-watch) {
		margin: 0 auto;
	}
}

.profile-pic {
	float: left;
	height: 60px;
	width: 60px;
	margin-left: -80px;

	img {
		width: 100%;
		height: auto;
		border-radius: 100%;
	}

	@include breakpoint(tablet) {
		margin-left: 0;
	}

	@include breakpoint(apple-watch) {
		float: none;
		width: 120px;
		height: 120px;
		margin: 30px auto 0 auto;
		display: block;
	}
}

.header-name-text {
	float: left;
	width: calc(90% - 60px);
	margin-top: 12px;
	font-size: 22px;
	font-weight: 400;

	@include breakpoint(tablet) {
		margin-left: 20px;
	}

	@include breakpoint(apple-watch) {
		width: 100%;
		margin-left: 0;
		margin-top: 25px;
		text-align: center;
	}
}

.header-intro-text {
	float: left;
	clear: left;
	font-size: 17px;
	line-height: 30px;
	font-weight: 400;
	color: $gray;

	@include breakpoint(tablet) {
		margin-top: 10px;
	}

	a {
		border-bottom: 1px solid $light-gray;

		&:hover {
			border-bottom: 1px solid $gray;
		}
	}
}

.nav-header {
	clear: left;

	ul {
		padding: 0;
	}

	&__item {
		display: inline-block;
		margin-top: 10px;
		margin-right: 10px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;

		&:last-child {
			margin-right: 0;
		}

		a {
			color: $gray;

			&:hover {
				color: $dark-gray;
			}
		}
	}
}