<header>

    <a class="profile-pic" href="/">
        <img alt="Jonas Reitmann" src="/assets/profile.png">
    </a>

    <h1 class="header-name-text">Hi, ich bin Jonas Reitmann.</h1>

    <h2 class="header-intro-text">
        Ich arbeite bei <a href="http://mytaxi.com/">mytaxi</a>, wo ich eine Ausbildung zum Entwickler mache. Man kann
        mir auf <a href="http://twitter.com/jonicious">Twitter folgen</a> oder mir eine <a
            href="mailto:jonas@reitmann.me">Mail schreiben</a>.
    </h2>

    <nav class="nav-header">
        <ul>
            <li class="nav-header__item">
                <a href="/">Artikel</a>
            </li>
            {% for page in site.pages %}
            {% if page.title %}
            <li class="nav-header__item">
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>

</header>
