<!DOCTYPE html>

<html lang="de">

<head>
  {% if page.url == "/index.html" %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% endif %}
  <meta charset="UTF-8">
  <meta name="description" content="Jonas Reitmann" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  <script type="text/javascript">
    (function(d) {
      var config = {
        kitId: 'ucj6yws',
        scriptTimeout: 3000
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <link rel="icon" type="image/png" href="/assets/profile.png" />

  <!-- Facebook -->

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ post.url | prepend: site.baseurl }}">
  <meta property="og:site_name" content="Jonas Reitmann">
  <meta property="og:description" content="{{ post.excerpt }}">

  <!-- Twitter cards -->

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jonicious">
  <meta name="twitter:creator" content="@jonicious">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ post.excerpt }}">
</head>
