<header>
  <a class="profile-pic" href="/"></a>

  <div class="text">
    <h2>Hi, ich bin Jonas Reitmann.</h2>

    <h4>
      Ich arbeite bei <a href="http://mytaxi.com/">mytaxi</a>, wo ich eine Ausbildung zum Entwickler mache. Man kann mir auf <a href="http://twitter.com/jonicious">Twitter folgen</a> oder mir eine <a href="mailto:jonas@reitmann.me">Mail schreiben</a>.
    </h4>
  </div>

  <nav class="menu-header-container">
    <ul>
      <li>
        <a href="/">Artikel</a>
      </li>
      {% for page in site.pages %}
        {% if page.title %}
          <li>
            <a href="{{ page.url }}"">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
