<header>

    <a class="profile-pic" href="/">
        <img alt="Jonas Reitmann" src="/assets/profile.png">
    </a>

    <h1 class="header-name-text">Hi, I am Jonas Reitmann.</h1>

    <h2 class="header-intro-text">
    	I work at <a href="http://mytaxi.com/">mytaxi</a> as a developer. You can <a href="http://twitter.com/jonicious">follow me on Twitter</a> or feel free to <a href="mailto:jonas@reitmann.me">send me an e-mail</a>.
    </h2>

    <nav class="nav-header">
        <ul>
            <li class="nav-header__item">
                <a href="/">Articles</a>
            </li>
            {% for page in site.pages %}
            {% if page.title %}
            <li class="nav-header__item">
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>

</header>
