noscript {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background: #B33A3A;
	padding: 10px 0;
	color: #FFF;
}

header {
	position: relative;
  @include container;
  margin-top: 5%;

  .profile-pic {
    float: left;
    margin-left: -80px;
    background: url(/assets/profile.png) center center;
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 100%;

    @media screen and (max-width: 800px) {
      margin-left: 0;
    }
  }

  .text {
    float: left;

    h2 {
      font-size: 22px;
      font-weight: 400;
      margin-top: 12px;

      @media screen and (max-width: 800px) {
        margin-left: 80px;
        margin-top: -48px;
      }
    }

    h4 {
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;
      color: $light-gray;
      margin-top: 15px;

      @media screen and (max-width: 800px) {
        margin-top: 30px;
      }

      a {
        color: #0f0f0f;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .menu-header-container {

    display: table;
    clear: both;

    ul {
      padding: 0;

      li {
        display: inline-block;
        margin-right: 10px;
        margin-top: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #4e4e4e;

          &:hover {
            color: darken(#4e4e4e, 30%);
          }
        }
      }
    }
  }
}
