header {
  @extend %container;

  .name-headline {
    float: left;
  }

  .work-headline {
    float: right;
  }

  @media screen and (max-width: 50em) {
    .name-headline,
    .work-headline {
      clear: left;
      float: left;
      margin-top: .1em;
    }
  }
}