%container {
  max-width: 70em;
  width: 90%;
  margin: 0 auto;
}

@mixin center-align($position: relative) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  @include center-align();
}