.link-list {
  list-style: none;

  &__item {
    color: $white;
    text-decoration: underline;
    display: inline-block;
    margin-right: 2em;
    font-size: 1.8em;

    &:last-child {
      margin-right: 0;
    }
  }
}